**/__pycache__
**/.git
**/.venv
**/resources
**/.vscode
**/.dockerignore
**/.gitignore
**/docker-compose.yml
**/Dockerfile
**/README.md
**/*.session
**/*.session-journal
**/*test*
**/*sample*
**/.DS_Store